.trends{
    position: sticky;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Inter', sans-serif;
}
.search-twitter{
    margin-left: 33px;
    margin-top: 20px;
    position:sticky;top:0;
    width: 95%;
    background-color: #202327;
    border-radius: 20px;
    padding: .7rem;
    display: flex;
    align-items: center;
}
.search-twitter input{
    
    background: none;
    border: inherit;
    margin-left: -1rem;
    font-size: 1rem;
    outline: none;
    color: rgb(243, 241, 241);
    margin-left: 10px;
}

.search-twitter img{
    width: 20px;
    color: #6E767D;
}

.trends-for-you{
    margin-left: 33px;
    background-color: #202327;
    width: 95%;
    border-radius: 20px;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #6E767D;
}
.trends-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trends-title h3{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(200, 200, 200);
}
.squid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.squid-conent{
    display: flex;
    flex-direction: column;

}
.squid-conent:hover{
    padding-left: 5px;
    
}

.squid-conent, h3, p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.show-more:hover{
    border-bottom: 2px solid blue;
    margin-right: 180px;
}
.squid-conent h3{
    color: rgb(200, 200, 200);
}
.show-more{
    color: blue;
}

.who-to-follow{
    margin-left: 33px;
    background-color: #202327;
    width: 95%;
    border-radius: 20px;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.follow:hover{
    padding-left: 5px;
}
    
.follow{
    display: flex;
    align-items: center;
}
.followConten{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.btnfollow{
    font-size: 1rem;
    font-weight: 100;
    height: 30px;
    border-radius: 20px;
    width: 100px;
    border: none;
    padding: 2px;
}
.tweet-title-author2 p{
    font-size: .8rem;
    font-weight: 700;
}
.tweet-title-author2{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.info-content{
    width: 95%;
    margin-left: 3rem;
    margin-right: 2.5rem;
    padding-left: 13px;

}